# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Binaries
erosd

# Folders
_obj
_test
replays

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.bat
*.exe
*.test
*.sqlite3
*.sqlite
*.zip
erosd.cfg

#Python stuff
sc2reader/*
mpyq.py
*.pyc

#logs
logs/*
*.log
nohup.out

#Web stuff
web/node_modules
web/components
web/static/components
web/dist
web/.tmp
*.scssc
web/static/css/app.css
*.psd
npm-debug.log

#Mac crap
.DS_Store
pid
erosd
*.sublime*

# TLS
*.key
*.cert
*.crt

# intellij crap
.idea
