
.no-gutter {
	margin:0px !important;
}

.no-padding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.right{
	float:right;
}

.left{
    float: left;
}

.small {
	font-size: 0.8em;
}

.align-right{
	text-align:right;
}

.fixed-top{
    position: fixed;
    top: 0px;
}

.absolute-top{
    position: absolute;
    top: 0px;
}

.center-absolute{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.red-tag {
    color: white !important; 
    background: $lightRedColor; 
    border-radius: 3px; 
    padding: 1px 5px; 
    margin: 0 5px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}