<div id="chat-content" ng-hide="hide-chat">
	<h2 id="chat-channel-name">{{selectedRoom.room.name.toUpperCase()}}{{selectedRoom.priv.name}}</h2>
	<div id="chat-text" scroll-glue>
		<div ng-repeat="message in selectedRoom.messages">
			<span ng-if="message.event"><span class="message-date">[{{message.date.toLocaleTimeString()}}]</span> <span class="chat-event">{{message.sender.username}} {{message.message}}</span></span>
			<span ng-if="!message.event"><span class="message-date">[{{message.date.toLocaleTimeString()}}]</span> <a href='#' class="message-sender" user="{{message.sender.username}}" ng-bind="message.sender.username" ng-click="addUserMsg(message.sender.username)"></a>: <span chat-message></span></span>
		</div>
	</div>
	<form id="chat-input"><input type="text" ng-model="$parent.chatMessage" placeholder="Message"> <button type="submit" ng-click="sendChatMessage(selectedRoom.room, $parent.chatMessage); $parent.chatMessage = ''" ng-disabled="!$parent.chatMessage"><span class="glyphicon glyphicon-chevron-right"></span></button></form>
</div>
<div id="chat-left-nav" ng-mouseenter="navhover = true" ng-mouseleave="navhover = false" ng-class="{'expand': navhover}">
	<!-- <div id="chat-hide"><a href="#" class="glyphicon glyphicon-minus"></a></div> -->
	<li class="chat-channels" ng-repeat="room in rooms" ng-init="setDefaultRoom(room)">
		<div ng-class="{'selected': selectedRoom==room}" class='channel' ng-click="selectRoom(room)">
			<div ng-show="navhover" class='close-channel' ng-click='room.room.leave(); $event.stopPropagation();'>x</div>
			<div class='select-channel' href="#">
				<span ng-hide="navhover" class='short'>{{room.room.name.slice(0,1).toUpperCase()}}</span>
				<span ng-show="navhover" ng-if="room.room.name.length > 18" class='long'>{{room.room.name.slice(0,15)}}...</span>
				<span ng-show="navhover" ng-if="room.room.name.length < 19" class='long'>{{room.room.name}}</span>
			</a>
		</div>
	</li>
	<hr>
	<li class="chat-channels" ng-repeat="priv in privs">
		<div ng-class="{'selected': selectedRoom==priv}" class='channel' ng-click="selectRoom(priv)">
			<div ng-show="navhover" class='close-channel' ng-click='priv.priv.leave(); $event.stopPropagation();'>x</div>
			<div class='select-channel' href="#">
				<span ng-hide="navhover" class='short'>{{priv.priv.name.slice(0,1).toUpperCase()}}</span>
				<span ng-show="navhover" ng-if="priv.priv.name.length > 18" class='long'>{{priv.priv.name.slice(0,15)}}...</span>
				<span ng-show="navhover" ng-if="priv.priv.name.length < 19" class='long'>{{priv.priv.name}}</span>
			</a>
		</div>
	</li>
	<li class="chat-channels">
		<div class='channel' ng-click="showRooms()" ng-click="eros.chat.joinRoom('test','')">
			<div ng-show="navhover" class='close-channel'></div>
			<div class='select-channel'>
				<span ng-hide="navhover" class='short'>+</span>
				<span ng-show="navhover" class='long'>+ Join room</span>
			</div>
		</div>
	</li>
</div>

<!-- Right block -->
<div id="chat-right-nav"  class="animate-fade">

	<!-- Public chat -->
	<div class="room-users" ng-show="selectedRoom.room">
		<div ng-repeat="user in roomusers" class="animate-fade">
			<div class="room-user" ng-click="addUserMsg(user.username)">
				<div class="user-rank-block">
					<span ng-bind="user.stats.division" class="user-division"></span><span ng-hide="user.stats.division == 'P'" ng-bind="user.stats.divisionRank" class="user-rank"></span>
				</div>
				<span ng-bind="user.username" class="user-username"></span>
			</div>
		</div>
	</div>

	<!-- Private chat -->
	<div class="user-details" eros-user="{{selectedRoom.priv.name}}" ng-show="selectedRoom.priv" >
		<div class="user-username">{{user.username}}</div>
		<div class='user-rank-block'>
			<span class="user-division">{{user.stats.division}}</span>
			<span ng-hide="user.stats.division == 'P'" class="user-rank">{{user.stats.divisionRank}}</span>
		</div>
	</div>
</div>