<div id="chat-content">
	<h2 id="chat-channel-name">{{selectedRoom.room.name.toUpperCase()}}{{selectedRoom.priv.name}}</h2>
	<div id="chat-text" scroll-glue>
		<div ng-repeat="message in selectedRoom.old_messages | orderBy: 'date'" ng-if="selectedRoom.room" class="old-messages">
			<span><span class="message-date">[{{message.date.toLocaleTimeString()}}]</span> <a href='#' class="message-sender" user="{{message.sender.username}}" ng-bind="message.sender.username" ng-click="addUserMsg(message.sender.username)"></a>: <span chat-message></span></span>
		</div>
		<div ng-repeat="message in selectedRoom.messages | orderBy: 'date'">
			<span ng-if="message.event"><span class="message-date">[{{message.date.toLocaleTimeString()}}]</span> <span class="chat-event">{{message.sender.username}} {{message.message}}</span></span>
			<span ng-if="!message.event"><span class="message-date">[{{message.date.toLocaleTimeString()}}]</span> <a href='#' class="message-sender" user="{{message.sender.username}}" ng-bind="message.sender.username" ng-click="addUserMsg(message.sender.username)"></a>: <span chat-message></span></span>
		</div>
		<div ng-repeat="message in selectedRoom.new_messages">
			<span ng-if="message.event"><span class="message-date">[{{message.date.toLocaleTimeString()}}]</span> <span class="chat-event">{{message.sender.username}} {{message.message}}</span></span>
			<span ng-if="!message.event"><span class="message-date">[{{message.date.toLocaleTimeString()}}]</span> <a href='#' class="message-sender" user="{{message.sender.username}}" ng-bind="message.sender.username" ng-click="addUserMsg(message.sender.username)"></a>: <span chat-message></span></span>
		</div>
	</div>
	<form id="chat-input"><input type="text" ng-model="$parent.chatMessage" placeholder="Message"> <button type="submit" ng-click="sendChatMessage(selectedRoom.room, $parent.chatMessage); $parent.chatMessage = ''" ng-disabled="!$parent.chatMessage"><span class="glyphicon glyphicon-chevron-right"></span></button></form>
</div>

<!-- Left Navigation: Chat channels, Private channels, Join Rooms -->

<div id="chat-left-nav" ng-mouseenter="navhover = true" ng-mouseleave="navhover = false" ng-class="{'expand': navhover || showIndex}" ng-init='eros.chat.fetchRoomsIndex();'> <!--setDefaultRoom(rooms[Object.keys(rooms)[0]])-->
	<li class="chat-channels" ng-repeat="room in rooms" ng-hide="showIndex" ng-init="eros.chat.requestChatHistory(room.room)">
		<div ng-class="{'selected': selectedRoom.room.key==room.room.key}" class='channel' ng-click="selectRoom(room); room.visit()" >
			<div class='select-channel'>
				<span ng-hide="navhover" class='short'>{{room.room.name.slice(0,1).toUpperCase()}}</span>
				<span ng-show="navhover" ng-if="room.room.name.length > 18" class='long'>{{room.room.name.slice(0,15)}}...</span>
				<span ng-show="navhover" ng-if="room.room.name.length < 19" class='long'>{{room.room.name}}</span>
			</div>
			<span class='room-new-messages' ng-if="room.new_messages.length > 0">{{room.new_messages.length}}</span>
			<div ng-show="navhover" class='close-channel' ng-click='room.room.leave(); $event.stopPropagation();'>x</div>
		</div>
	</li>
	<hr ng-hide="showIndex">
	<li class="chat-channels" ng-repeat="priv in privs" ng-hide="showIndex">
		<div ng-class="{'selected': selectedRoom==priv}" class='channel' ng-click="selectRoom(priv); priv.visit()">
			<div class='select-channel'>
				<span ng-hide="navhover" class='short'>{{priv.priv.name.slice(0,1).toUpperCase()}}</span>
				<span ng-show="navhover" ng-if="priv.priv.name.length > 18" class='long'>{{priv.priv.name.slice(0,15)}}...</span>
				<span ng-show="navhover" ng-if="priv.priv.name.length < 19" class='long'>{{priv.priv.name}}</span>
			</div>
			<span class='room-new-messages' ng-if="priv.new_messages.length > 0">{{priv.new_messages.length}}</span>
			<div ng-show="navhover" class='close-channel' ng-click='priv.priv.leave(); $event.stopPropagation();'>x</div>
		</div>
	</li>

	<!-- Join Room -->
	<li class="chat-channels" ng-hide="showIndex">
		<div class='channel' ng-click="showIndex=true" >
			<div class='select-channel'>
				<span ng-hide="navhover" class='short'>+</span>
				<span ng-show="navhover" class='long'>+ Join room</span>
			</div>
		</div>
	</li>

	<!-- Index -->
	<li class="chat-channels" ng-show="showIndex">
		<div class='channel' ng-click="showIndex=false;">
			<div class='select-channel'>
				<span class='long'>Back</span>
			</div>
		</div>
	</li>
	<hr ng-show="showIndex">
	<li class="chat-channels" ng-repeat="room in eros.chat.roomsPartialIndex()"  ng-show="showIndex">
		<div class='channel' ng-click="$parent.showIndex=false; eros.chat.joinRoom(room.key,'')">
			<div class='select-channel'>
				<span ng-if="room.name.length > 18" class='long'>{{room.name.slice(0,15)}}...</span>
				<span ng-if="room.name.length < 19" class='long'>{{room.name}}</span>
			</div>
		</div>
	</li>
	<!-- <hr ng-show="showIndex">
	<div ng-show="showIndex">
		<input ng-model='joinName' />
		<input ng-model='joinPass' />
	</div> -->
</div>


<!-- Right block -->
<div id="chat-right-nav"  class="animate-fade">

	<!-- Public chat -->
	<div class="room-users" ng-show="selectedRoom.room">
		<div ng-repeat="user in roomusers" class="animate-fade">
			<div class="room-user" ng-dblclick="openPrivUser(user.username)"> <!-- ng-click="addUserMsg(user.username)" -->
				<div class="user-rank-block">
					<span ng-bind="user.stats.division" class="user-division"></span><span ng-hide="user.stats.division == 'P'" ng-bind="user.stats.divisionRank" class="user-rank"></span>
				</div>
				<span ng-bind="user.username" class="user-username"></span>
			</div>
		</div>
	</div>

	<!-- Private chat -->
	<div class="user-details" eros-user="{{selectedRoom.priv.name}}" ng-show="selectedRoom.priv" >
		<div class="user-username">{{user.username}}</div>
		<div class='user-rank-block'>
			<span class="user-division">{{user.stats.division}}</span>
			<span ng-hide="user.stats.division == 'P'" class="user-rank">{{user.stats.divisionRank}}</span>
		</div>
	</div>

	<div id="notification-settings" class='btn-group' ng-init="notifier.setVolume(1); muting=false;">
		<div>
        	<button class='btn btn-default' ng-class='{active: muting}' ng-click="notifier.setMuting(true); muting=true"><span class="glyphicon glyphicon glyphicon-volume-off" ></span></button>
        	<button class='btn btn-default' ng-class='{active: !muting}' ng-click="notifier.setVolume(1); muting=false"><span class="glyphicon glyphicon glyphicon-volume-up" ></span></button>
    	</div>
    </div>
</div>