<div id='eros-mm' class='container-fluid no-padding'>

	<!-- Left -->
	<!-- <div id="mm-left" class="no-padding" ng-class='hover ? "col-md-2" : "col-md-12"'> -->
	<div id="mm-left" class="no-padding anim" ng-class='{"full": !hover}'>
		<div class='svg'>
			<svg height='218' width='30'>
  				<path d="M0 0 L0 218 L30 0 Z" />
			</svg> 
		</div>
		<div class='player'>
			<div id='user-username' ng-bind='localUser.username'></div>
			<span id='user-division' ng-bind='localUser.stats.division'></span>
			<span id='user-rank' ng-bind='localUser.stats.divisionRank' ng-hide="localUser.stats.placementsRemaining > 0"></span>
			<div id='user-points' ng-bind='localUser.stats.points' ng-hide="localUser.stats.placementsRemaining > 0"></div>
			<div id='user-placement' ng-show="localUser.stats.placementsRemaining > 0 && localUser.characters.length > 0">Placement matches: {{localUser.stats.placementsRemaining}}</div>
			<div id='user-placement' ng-hide="localUser.characters.length > 0"><span style="color:white; background: #AB3E3E; border-radius: 3px; padding: 1px 5px; margin-right: 5px; cursor: pointer">+ Add profile</span></div>	
			<!-- <div id='user-mmr' ng-bind='localUser.stats.mmr'></div> -->
		</div>
		
	</div>

	<!-- Center -->
	<div id="mm-center" class="anim" ng-class='hover ? "min" : "full"'>
		<div class='pre' ng-show='matchmaking.status == "IDLE"'>
			<div style="display:inline-block; margin-top:15px; padding: 3px 4px; background-color:#fff; color:#AB3E3E; border-radius: 3px; cursor: pointer" ng-click="vetoModal()"><span class="glyphicon glyphicon-ban-circle"></span> Map vetoes</div>
			<div class='matchtypes' style='display:none'>
				<button id='1v1' type='button' class='btn' ng-class="matchtypes.one ? 'btn-primary' : 'btn-default'" ng-click="matchtypes.one = !matchtypes.one">1v1</button>
				<button id='2v2' type='button' class='btn' ng-class="matchtypes.two ? 'btn-primary' : 'btn-default'" ng-click="matchtypes.two = !matchtypes.two">2v2</button>
				<button id='bgh' type='button' class='btn' ng-class="matchtypes.bgh ? 'btn-primary' : 'btn-default'" ng-click="matchtypes.bgh = !matchtypes.bgh">BGH</button>
				<select ng-model='search_radius' ng-options='radius for radius in radius_options' ng-change='updateSearchRadius'/>
			</div>
			<div class='ranked' style='display:none'>
				<button id='ranked' type='button' class='btn' ng-class="ranked ? 'btn-primary' : 'btn-default'" ng-click="ranked = !ranked" >RANKED</button>
			</div>
			<div class='queue'>
				<div class='search-radius' style=''>Search Radius: <select style='color:black' ng-model='search_radius' ng-options='radius for radius in radius_options' ng-change='updateSearchRadius'/><!-- <input ng-model="search_radius" ng-change='updateSearchRadius'/> --></div>

				<button id='queue' type='button' class='btn btn-default rounded' ng-click="queue()">
					Queue <span class="icon-bowstarbow" display="font-size:120%"></span>
				</button>
			</div>
		</div>
		<div class='queing' ng-show='matchmaking.status == "QUEUED"'>
			<!-- <div class='matchtypes'>
				<div ng-repeat='type in selected-matchtypes' ng-bind='type'/>
			</div> -->
			<div class='ranked' style='display:none'>
				<div id='ranked'>RANKED</div>
			</div>
			<div class='timer'>{{timeElapsed|timer}}</div>

			<div class='dequeue'>
				<div class='search-radius' style=''>Search Radius: <span ng-bind='search_radius'></span></div>
				<button id='dequeue' type='button' class='btn btn-warning rounded' ng-click="dequeue()">Cancel</button>
			</div>
		</div>

		<div class='matched' ng-show='matchmaking.status == "MATCHED"'>
			<div class='top'>
				<div class='map'>
					<div><b>{{matchmaking.match.map.battle_net_name}}</b></div>
					<div>{{matchmaking.match.map.region | region}}</div>
				</div>
				<div id='gotomap' class='button' ng-click="goToMap()" style='margin-left: 22px'><div><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go to map</div></div>
				<div id='copychat' class='button' ng-click='copyChat()' style='margin-left: 18px'><div><span class=" glyphicon glyphicon-comment" aria-hidden="true"></span> Copy chat name</div></div>
			</div>

			<div class='bottom'>
				<div class='right'>
					<div ng-show='noshow_reponse'>
						No-show reported:<br />
						<button id='noshow-response' type="button" class="btn btn-default right" ng-click="respondNoShow()">I'm here! [{{noShowResponseTimer | timer}}]</button>
					</div>
				</div>
				<div id='forfeit' class='button' ng-click="forfeit()" style='margin-left: 19px'><div><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Forfeit</div></div>
				<div id='request-draw' class='' ng-click="requestDraw()" style='margin-left: 15px; padding: 2px 7px; opacity:0.3; cursor: default'><div><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> Request draw</div></div>
				<div id='noshow' class='button' ng-click="reportNoShow()" ng-if="!noshow_requested" style='margin-left: 12px'><div><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Report no-show</div></div>
				<div id='noshow-countdown' class='button' ng-if="noshow_requested" style='margin-left: 12px'><div><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> No-show reported [{{noShowTimer | timer}}]</div></div>

				<div id='upload-replay' class='button' ng-click='uploadreplay=!uploadreplay' style='margin-left: 8px; display: inline' ng-init='uploadreplay=false'><div><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Replay</div></div>
				<span ng-show='uploadreplay' class='upload-replay right'>
					<input type="file" id="file" onchange="angular.element(this).scope().upload_replay()" ng-model="replay"/>
				</span>
			</div>
			
			</br></br>
			
		</div>
	</div>

	<!-- Right -->
	<div id="mm-right" class="anim no-padding" ng-class='{"full": !hover}'>

		<div class='pre' ng-show='matchmaking.status == "IDLE"' ng-init="localUser.char_per_region = toRegions(localUser.characters)">
			<!-- <div class="region kr" value='KR' disabled/> -->
			<div ng-switch on="localUser.char_per_region[1].length > 0" style="display: inline-block">
				<div ng-switch-when="true" class="region unselectable" id='region-na' ng-class='{selected: selected_regions.NA}' value='NA' ng-click='toggle_region("NA")'>
					<div class="character" ng-repeat="char in localUser.char_per_region[1] track by char.profile_id">
						<span class="glyphicon glyphicon-user"></span> {{char.character_name}}
						<span class="small remove-char" ng-click="removeChar(char); event.stopPropagation()">x</span>
					</div>
				</div>
				<div ng-switch-default class="region unselectable " disabled="disabled" id='region-na' value='NA'>
					<div class="character rotate270" style="width:200px">
						Add profile
					</div>
				</div>
			</div>
			<div ng-switch on="localUser.char_per_region[2].length > 0" style="display: inline-block">
				<div ng-switch-when="true" class="region unselectable" id='region-eu' ng-class='{selected: selected_regions.EU}' value='EU' ng-click='toggle_region("EU")'>
					<div class="character" ng-repeat="char in localUser.char_per_region[2] track by char.profile_id">
						<span class="glyphicon glyphicon-user"></span> {{char.character_name}}
						<span class="small remove-char" ng-click="removeChar(char); event.stopPropagation()">x</span>
					</div>
				</div>
				<div ng-switch-default class="region unselectable" disabled="disabled" id='region-eu' value='EU'></div>
			</div>
		</div>

		<div class='queing' ng-show='matchmaking.status == "QUEUED"'>
			<!-- <div ng-repeat='region in selected-regions' class='region' /> -->
			<div class="region selected" id='region-eu' ng-show='selected_regions.EU' value='EU'></div>
			<div class="region selected" id='region-na' ng-show='selected_regions.NA' value='NA'></div>
		</div>

		<div class='matched' ng-show='matchmaking.status == "MATCHED"'>
			<div style="float:right"> 
				<!-- <div ng-repeat='region in selected-regions' class='region' /> -->
				<div class="region selected" id='region-eu' ng-show='selected_regions.EU' value='EU'></div>
				<div class="region selected" id='region-na' ng-show='selected_regions.NA' value='NA'></div>
			</div>
			<div class='player' style="float:right">
				<div id='user-username' ng-bind='matchmaking.match.opponent.username'></div>
				<span id='user-division' ng-bind='matchmaking.match.opponent.stats.division'></span>
				<span id='user-rank' ng-bind='matchmaking.match.opponent.stats.divisionRank' ng-hide="matchmaking.match.opponent.stats.placementsRemaining > 0"></span>
				<div id='user-points' ng-bind='matchmaking.match.opponent.stats.points' ng-hide="matchmaking.match.opponent.stats.placementsRemaining > 0"></div>
				<!-- <div ng-bind='matchmaking.match.opponent.stats.mmr'></div> -->
			</div>
			</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="confirmRemoveChar" tabindex="-1" role="dialog" aria-labelledby="confirmRemoveChar" aria-hidden="true" style='text-align:left; color: black; margin:0 auto; top:20%;'>
	  	<div class="modal-dialog modal-sm">
	    	<div class="modal-content">
	     		<div class="modal-header" style="border:none; padding:10px; text-align:center;">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="confirmRemoveCharLabel" ng-hide="char_remove_status">Are you sure you want to delete this profile?</h4>
			        <h4 class="modal-title" id="confirmRemoveCharLabel" ng-show="char_remove_status">{{char_remove_status}}</h4>
	      		</div>
	      		<div class="modal-body" style="text-align:center; padding: 10px;">
	        		<span class="small-region" style="color:white; background: #AB3E3E; border-radius: 3px; padding: 1px 5px; margin-right: 5px;"> {{char_to_remove.region | region_short}}</span>{{char_to_remove.character_name}}
			    </div>
			    <div class="modal-footer" style="border: none; padding:10px; text-align:center">
			        <button type="button" class="btn round" data-dismiss="modal" ng-hide="char_remove_status">No</button>
			        <button type="button" class="btn round" ng-click="requestCharRemove()" ng-hide="char_remove_status">Yes</button>
	      		</div>
	    	</div>
	 	</div>
	</div>
	<div class="modal fade" id="vetoesDialog" tabindex="-1" role="dialog" aria-labelledby="vetoesDialog" aria-hidden="true" style='text-align:center; color: black; margin:0 auto;'>
	  	<div class="modal-dialog modal-lg">
	    	<div class="modal-content" ng-init="veto_region='NA'">
	     		<div class="modal-header" style="border:none; padding:10px; text-align:center;">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <div class="modal-title" id="vetoesDialogLabel" ng-hide="char_remove_status">
			        	<div ng-show="veto_region" class="left" style="line-height:37px; font-size:0.95em; color:#555; width:0px;">
			        		<div style="width: 100px; text-align: left"><span class="vetoes-left red-tag">{{eros.maxVetoes - vetoedMaps[veto_region].length}}</span>vetoes left</span></div>
			        	</div>
			        	<div>
				        	<span ng-repeat="reg in eros.activeRegions" ng-click="$parent.veto_region=eros.regionFromCode(reg)" ng-class="{'red-tag': eros.regionFromCode(reg) == veto_region}" class="btn">{{eros.regionFromCode(reg)}}</span>
				        </div>
			        </div>
	      		</div>
	      		<div class="modal-body small" style="text-align:center; padding: 10px;">
	      			<div ng-repeat="(region, maps) in mapPool">
	      				<div ng-repeat="map in maps | orderBy:'battle_net_name'" ng-show="veto_region == region" class="veto-box" ng-init="hover_map = false">
	      					<div class="veto-icon" ng-click="toggleVeto(map)"><span class="glyphicon glyphicon-ban-circle" ng-class="{vetoed: map.vetoed}"></span></div>
	      					<div class="map-img" ng-class="{vetoed: map.vetoed}">
	      						<img ng-src="{{map.preview_url}}" alt="{{map.battle_net_name}}" />
	      					</div>
	      					{{map.battle_net_name}}
	      				</div>
	      			</div>
			    </div>
			    <div class="modal-footer" style="border: none; padding:10px; text-align:center">
			        <!-- <button type="button" class="btn round" data-dismiss="modal" ng-hide="char_remove_status">No</button>
			        <button type="button" class="btn round" ng-click="requestCharRemove()" ng-hide="char_remove_status">Yes</button> -->
	      		</div>
	    	</div>
	 	</div>
	</div>

</div>