<div ng-if="message">
	<p>{{message}}</p>
</div>

<div ng-if="!connected">
	<p>Set <em>testmode=true</em> in your config to dynamically create users.</p>
	<input type="text" placeholder="username" ng-model="login.username" />
	<input type="text" placeholder="password" ng-model="login.password" />
	<button ng-click="connect(login.username, login.password)">Connect</button>
</div>

<div ng-if="connected">
	<p>Our server latency is {{latency}}ms.</p>
	<p>There are currently {{stats.users.active}} users online.</p>
	<p ng-repeat="(name, region) in regions" ng-if="region.active">{{name}} is active with {{region.users.searching}} users currently searching.</p>
</div>