<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="erosApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="erosApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="erosApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="erosApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>[ALPHA] Starbow :: Eros Matchmaking</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="/static/html5-boilerplate/normalize.css">
    <link rel="stylesheet" href="/static/html5-boilerplate/main.css">
    
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/angular.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Check if modernizr must be included in head
    <script src="/static/components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script> -->

    <!-- Customized bootstrap -->
    <!-- <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="/static/css/<%= grunt.config.get('pkg.name') %>.css?v=<%=version%>" />
    <!-- <script src="/bootstrap/js/bootstrap.min.js"></script> -->
</head>


<body>

    <!-- <div id="left-nav">
        <div id='brand'>
            <a href="#">
                <div class='title'>Starbow</div>
                <div class='subtitle'>Eros Web Client</div>
            </a>
        </div>
        <div class='navigation'>
            <div class='button selected'>Home</div>
            
            <div class='button'>Matchmaking</div>
            <div class='button'>Replays</div>
            <div class='button'>Profile</div>

        </div>

    </div> -->
    <!-- <div class="navbar navbar-fixed-top">
        <a href="/" class="navbar-logo"></a>
        <ul>
            <li>
                <a href="/404">Reload<i class="fa fa-angle-down"></i></a>
                <ul class="ui-menu">
                    <li><a href="/">Fix this to show on parent menu item hover. We don't need javascript.</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="authentication">
          
        </div>
    </div> -->

    <div id="navbar" class='absolute-top center-absolute'>
       <div>starbow</div> <div class='erosjs'>erosjs</div>
       <div class="float-right" browserid>Login</div>
    </div>




    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="main-content" class="" ng-controller="ErosTestCtrl">
        <div id="navbar" class='absolute-top center-absolute'>
           <div>starbow</div> <div class='erosjs'>erosjs</div>
           <div class="right" id="navbar-account">
                <!-- <div browserid ng-if='!connected'>Login</div> -->
                <div ng-if="connected">{{eros.localUser.username}}</div>
            </div>
        </div>

        <div class="page container-fluid">
            <div>
                <div ng-if="!connected">
                    <!-- <div> -->
                        <br />
                        <p>Login at <a href='http://starbowmod.com'>starbowmod.com</a> to automatically login here.</p>
                        <input type="text" placeholder="username" ng-model="login.username" />
                        <input type="password" placeholder="auth token" ng-model="login.password" />
                        <button ng-click="connect(login.username, login.password)" class="button">Connect</button>
                    <!-- </div> -->
                </div>
                <div ng-if="connected" class='row'>
                    <div class='col-md-12'>

                        <div bnet-profile style="margin-bottom: -10px; margin-top: 10px;text-align: right;"></div>
                        <div eros-mm></div>
                       
                        
                        <div eros-chat></div>
                    </div>
                </div>
                <div class='row' style="margin-top:20px">
                    <div id="server-stats" class="small col-md-6" >
                        <div ng-if="connected">
                            <p>Server latency: {{latency}}ms.<br />
                            Users online: {{stats.users.active}}</p>
                            <p> <div ng-repeat="(name, region) in regions" ng-if="region.active">{{name}} is active with {{region.users.searching}} users currently searching.</div></p>
                        </div>
                    </div>
                
                    <div id="feedback" class="right small align-right col-md-6">
                        This is an <b>alpha</b> version of ErosJS.</br >
                        Please feel free to provide feedback <a href="http://starbowmod.com/forum/showthread.php?tid=585">here</a>.<br />
                        <br />
                        Starbow ErosJS <%=version%><br />
                        <a href="https://github.com/Starbow/erosd/blob/websockets/web/CHANGELOG.md">Changelog</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div conn-growl></div>
    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

    <script type="text/javascript">
        var WEB_SOCKET_SWF_LOCATION = "/static/components/web-socket-js/WebSocketMain.swf";
    </script>

    <script type="text/javascript" src="/static/components.js?v=<%=version%>"></script>
    <script type="text/javascript" src="/static/<%= grunt.config.get('pkg.name') %>.js?v=<%=version%>"></script>
    <script type="text/javascript" src="/static/angular-route.js"></script>
</body>

</html>
