$chat-height:450px;
$chat-nav-width-min:50px;
$chat-nav-width-max:150px;
$chat-input-height:27px;

#chat {
	background-color:#fff;
	height: $chat-height;
	display:block;
	position:relative;

	#chat-left-nav {
		list-style: none;
		height: $chat-height - 4;
		margin-top:2px;
		margin-left: 2px;
		width: $chat-nav-width-min;
		
		display: inline-block;
		padding:0;
		float:left;
		text-align: left;

		background-color: $navGrey;
		font-family:$headerFont;
		font-size: 16px;
		padding-top: 0px;

		&.expand{
			width: $chat-nav-width-max;
		} 

		#chat-channels a {
			height: 39px;
			line-height: 39px;
			padding-left: 20px;
			color: $navButtonColor;
			text-decoration: none;
			font-weight: lighter;

			display: block;

    		&:hover{
    			background-color: $lightGrey;
    			color: $navButtonColorHover;
    		}

    		&.selected {
    			border-right: 4px solid $lightRedColor;
    			color: $lightRedColor;
    			background-color: $lightGrey;
    		}
		}

		#chat-hide a{
			height: 30px;
			line-height: 30px;
			font-size: 14px;

			padding-left: 18px;

			color: $navButtonColor;
			text-decoration: none;
			display: block;

			&:hover{
    			color: $navButtonColorHover;
    		}

		}
	}

	#chat-content{

		#chat-channel-name{
			position:absolute;
			top:0;
			left: $chat-nav-width-min + 4;
			margin: 0px;
		}

		#chat-text {
			overflow-y: auto;
			height: $chat-height - $chat-input-height - 4;
			padding-top: 35px;
		}

		#chat-input {
			position:absolute;
			right:2px;
			bottom:2px;
			left:$chat-nav-width-min+4;

			input {
				position:absolute;
				bottom:0;
				right:0;

				width: 100%;
				height: $chat-input-height;
				background: #ddd;
				border: none;
				padding-left: 10px;

				font-size:12px;
			}
			button{
				position:absolute;
				bottom:0;
				right:0;

				border:none;
				padding:0;

				height: $chat-input-height;
				width: $chat-input-height;

				background-color: $redColor;
				color: $navButtonColorHover;

				span{
					height: $chat-input-height;
					width: $chat-input-height;
					line-height: $chat-input-height;
					top:0;
				}

				&:hover{
					background-color: $lightRedColor;
					color: #efefef;
				}
			}
		}
	}
}
