/*
 * header.scss
 *
 * Desc: styling for the top header bar
 */

.navbar-fixed-top {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.navbar {
  background-color: rgba($darkRedColor, 0.95);
  color: $whiteColor;
  height: $headerHeight;
  left: 0;
  min-width: $pageWidth+100;
  padding: {
    left: 5px;
  }

  /* @include box-shadow(0, 0, 5px, $blackColor); */
  @include clearfix;

  a.navbar-logo {
    float:left;
    background-image: url('../img/bow.svg');
    background-size: $headerHeight $headerHeight;
    height: $headerHeight;
    width: 20px;

    &:hover {
      background-color: $darkRedColor;
      @include box-shadow(0, 0, 0, $darkerRedColor);
    }
  }

  ul {
    background-color: rgba($darkRedColor, 0.95);
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      ul {
        display: none;
        li {
          float: none;
        }
        position: fixed;
      }
    }

    li:hover {
      ul {
        display: block;
      }
    }
  }

  a {
    color: $whiteColor;
    display: inline-block;
    font-size: 18px;
    font-family: $headerFont;
    line-height: $headerHeight;
    height: $headerHeight;
    padding: {
      left: 10px;
      right: 10px;
    }
    text-decoration: none;
    text-shadow: 0 0 3px $darkerRedColor;

    @include transition(line-height, 0.05s);

    &:hover {
      background-color: $whiteColor;
      color: $darkRedColor;
      text-shadow: 0 0 1px rgba($darkerRedColor, 0.25);

      @include box-shadow(0, 0, 5px, $darkerRedColor);
    }
  }
}

.authentication {
  float: right;
}
