/*
 * tabs.scss
 *
 * Desc: sets up styling for tabs
 */

.tabbed {
  background-color: $lightRedColor;
  color: $whiteColor;

  @include box-shadow(0, 0, 5px, $blackColor);

  .tabs {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @include clearfix;

      li {
        float: left;
        font-family: $headerFont;
        font-size: 20px;
        padding: 5px;

        &.active {
          background-color: $redColor;;
        }

        &:hover {
          background-color: $whiteColor;
          color: $darkRedColor;
          cursor: pointer;
        }
      }
    }
  }

  div[tab] {
    background-color: $redColor;
  }
}
