/*
 * theme.scss contains style variables
 */
/*
 * theme.scss
 *
 * Desc: sets up variables to be used for scss styles
 */
/*
 * font setup
 */
@font-face {
  font-family: 'goboldregular';
  src: url('../fonts/gobold-webfont.eot');
  src: url('../fonts/gobold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gobold-webfont.woff') format('woff'), url('../fonts/gobold-webfont.ttf') format('truetype'), url('../fonts/gobold-webfont.svg#goboldregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto_sansregular';
  src: url('../fonts/NotoSans-Regular-webfont.eot');
  src: url('../fonts/NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Regular-webfont.woff') format('woff'), url('../fonts/NotoSans-Regular-webfont.ttf') format('truetype'), url('../fonts/NotoSans-Regular-webfont.svg#noto_sansregular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* $techFont: 'Technonomicon'; */
/*
 * Navigation
 */
#left-nav {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 270px;
  background-color: #2e2e2e;
  color: #acacac;
  font-family: 'goboldregular'; }
  #left-nav #brand {
    font-family: "Technonomicon";
    margin-top: 40px;
    margin-bottom: 120px;
    text-align: center;
    margin-right: 7px; }
    #left-nav #brand a {
      text-decoration: none; }
    #left-nav #brand .title {
      color: #ab3e3e;
      font-size: 23px; }
    #left-nav #brand .subtitle {
      color: #fff;
      font-size: 12px; }
  #left-nav .navigation {
    font-size: 15px;
    cursor: pointer; }
    #left-nav .navigation .button {
      padding-left: 25px;
      height: 40px;
      line-height: 40px; }
      #left-nav .navigation .button:hover {
        background-color: #393939;
        color: #e9e9e9; }
      #left-nav .navigation .button.selected {
        border-right: 4px solid #ab3e3e;
        color: #ab3e3e;
        background-color: #393939; }

#main-content {
  padding-left: 270px; }

.no-gutter {
  margin: 0px; }

[eros-chat] {
  background-color: #fff;
  height: 450px;
  display: block;
  position: relative; }
  [eros-chat] #chat-left-nav {
    list-style: none;
    height: 446px;
    position: absolute;
    top: 2px;
    left: 2px;
    /*margin-top:2px;
		margin-left: 2px;*/
    width: 50px;
    /*display: inline-block;*/
    padding: 0;
    /*float:left;*/
    text-align: left;
    background-color: #2e2e2e;
    font-family: 'noto_sansregular';
    font-size: 13px;
    padding-top: 0px;
    z-index: 3;
    cursor: pointer; }
    [eros-chat] #chat-left-nav.expand {
      width: 150px; }
    [eros-chat] #chat-left-nav .chat-channels .channel {
      height: 39px;
      line-height: 39px;
      display: block; }
      [eros-chat] #chat-left-nav .chat-channels .channel .select-channel {
        color: #acacac;
        text-decoration: none;
        font-weight: lighter;
        display: inline-block;
        padding-left: 18px; }
      [eros-chat] #chat-left-nav .chat-channels .channel:hover {
        background-color: #393939;
        color: #e9e9e9; }
      [eros-chat] #chat-left-nav .chat-channels .channel.selected {
        border-right: 4px solid #ab3e3e;
        color: #ab3e3e;
        background-color: #393939; }
        [eros-chat] #chat-left-nav .chat-channels .channel.selected .select-channel {
          color: #ab3e3e; }
      [eros-chat] #chat-left-nav .chat-channels .channel .close-channel {
        float: right;
        font-size: 11px;
        font-weight: normal;
        opacity: 0.5;
        line-height: 39px;
        display: inline-block;
        width: 15px;
        text-align: center;
        cursor: pointer; }
        [eros-chat] #chat-left-nav .chat-channels .channel .close-channel:hover {
          opacity: 1;
          color: #ab3e3e;
          background-color: #333; }
    [eros-chat] #chat-left-nav hr {
      border: none;
      margin: 0px;
      color: #666;
      background-color: #666;
      height: 1px; }
    [eros-chat] #chat-left-nav #chat-hide a {
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      padding-left: 18px;
      color: #acacac;
      text-decoration: none;
      display: block; }
      [eros-chat] #chat-left-nav #chat-hide a:hover {
        color: #e9e9e9; }
  [eros-chat] #chat-content {
    z-index: 2;
    font-size: 14px; }
    [eros-chat] #chat-content #chat-channel-name {
      position: absolute;
      top: 2px;
      left: 54px;
      right: 154px;
      margin: 0px;
      height: 39px;
      line-height: 39px;
      padding-left: 10px;
      color: #ab3e3e;
      font-size: 16px; }
    [eros-chat] #chat-content #chat-text {
      overflow-y: auto;
      position: absolute;
      left: 54px;
      right: 154px;
      top: 41px;
      bottom: 31px;
      font-size: 13px; }
      [eros-chat] #chat-content #chat-text .chat-event {
        color: #aaa; }
    [eros-chat] #chat-content #chat-input {
      position: absolute;
      right: 2px;
      bottom: 2px;
      left: 54px; }
      [eros-chat] #chat-content #chat-input input {
        z-index: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 27px;
        background: #ddd;
        border: none;
        padding-left: 10px;
        font-size: 12px; }
      [eros-chat] #chat-content #chat-input button {
        position: absolute;
        bottom: 0;
        right: 0;
        border: none;
        padding: 0;
        height: 27px;
        width: 27px;
        background-color: #560d0d;
        color: #e9e9e9; }
        [eros-chat] #chat-content #chat-input button span {
          height: 27px;
          width: 27px;
          line-height: 27px;
          top: 0; }
        [eros-chat] #chat-content #chat-input button:hover {
          background-color: #ab3e3e;
          color: #efefef; }
    [eros-chat] #chat-content .message-date {
      color: #999;
      font-size: 85%; }
    [eros-chat] #chat-content #chat-text > div {
      margin: 2px 0; }
    [eros-chat] #chat-content [username] {
      font-size: 12px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 0 2px;
      padding-right: 3px;
      border-radius: 2px; }
  [eros-chat] #chat-right-nav {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    top: 2px;
    right: 2px;
    bottom: 31px;
    width: 150px;
    padding: 2px;
    background-color: #efefef;
    border-left: 1px solid #e2e2e2;
    color: #666;
    font-size: 12px; }
    [eros-chat] #chat-right-nav .user-details {
      text-align: center;
      padding-top: 30px; }
      [eros-chat] #chat-right-nav .user-details .user-rank-block {
        font-family: 'noto_sansregular'; }
  [eros-chat] .room-user {
    width: auto;
    cursor: pointer;
    padding: 1px 2px; }
    [eros-chat] .room-user .user-rank-block {
      font-family: 'noto_sansregular';
      display: inline-block;
      width: 28px; }
      [eros-chat] .room-user .user-rank-block .user-division {
        color: #ab3e3e;
        font-size: 13px;
        font-weight: bold; }
      [eros-chat] .room-user .user-rank-block .user-rank {
        font-family: 'noto_sansregular';
        font-size: 10px; }
    [eros-chat] .room-user .user-username {
      position: absolute;
      overflow: hidden;
      width: 116px; }
    [eros-chat] .room-user:hover {
      background-color: #e3e3e3; }

/*
 * Growls
 */
[conn-growl] {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #333;
  background: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  /*padding: 2px 5px;*/
  border-radius: 3px; }
  [conn-growl] .conn-growl {
    min-height: 25px;
    min-width: 25px;
    padding-left: 26px;
    background: url('/static/img/connect-icon.png') no-repeat;
    background-size: 16px;
    background-position: 5px 4px; }
    [conn-growl] .conn-growl.on {
      background-image: url('/static/img/connect-icon-on.png'); }
    [conn-growl] .conn-growl.off {
      background-image: url('/static/img/connect-icon-off.png'); }
    [conn-growl] .conn-growl .message {
      padding: 4px 3px;
      padding-right: 7px; }

.animate-fade.ng-enter, .animate-fade.ng-leave, .animate-fade.ng-move {
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s; }

.animate-fade.ng-enter, .animate-fade.ng-leave.ng-leave-active {
  opacity: 0; }

.animate-fade.ng-enter.ng-enter-active, .animate-fade.ng-leave {
  opacity: 1; }

/*# sourceMappingURL=app.css.map */